body,h1
{
  text-align: center;
  /*color: red;*/
  position: relative;
}
#user-login
{
      width: 467px;
    height: 165px;
    /*outline: 1px solid red;*/
    position: absolute;
    margin-left: 414px
}